table {
    margin: 2rem auto;
    font-family: arial, sans-serif;
    font-size: 1.5rem;
    border-collapse: collapse;
    width: 100%;
  }
  
  th{
    background-color: #000000;
    color: white;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .action{
    text-align: center;
  }
  
  .delete{
    background-color: red;
    color:black;
  }